<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Dispatch App
      <span class="spacer"></span>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">close</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="#">End Shift <span class="time-spent ml-auto">04:23:53</span></a>
      <a mat-list-item routerLink="list">Orders</a>
      <a mat-list-item routerLink="history">History</a>
      <a mat-list-item routerLink="office">Office</a>
      <a mat-list-item routerLink="messages">Messages</a>
      <a mat-list-item routerLink="profile">Profile</a>
      <a mat-list-item routerLink="help">Help</a>
      <button class="btn btn-primary" id="open-modal" (click)="openModal()">Open Modal</button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" id="topnav" class="d-flex">
      <div>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      </div>
      <h1 class="w-100 app-title">{{ app_info.title }}</h1>
      <div class="flex-shrink-1">
        <button class="mat-icon-button"></button>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
    <div class="modal fade order-modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog h-100" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Incoming Order</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center px-4">
            <h1 class="">Nike Flip flop</h1>
            <div class="location-list">
              <div class="location-item">
                <span class="badge badge-light rounded-circle">2</span>
                <span class="time">Due 02:30 PM</span>
                <p class="address">666 Last Gate, Hell</p>
                <small class="comment">Shh.. Don't ring the door bell.</small>
              </div>
              <div class="location-item">
                <span class="badge badge-light rounded-circle">2</span>
                <span class="time">Due 02:30 PM</span>
                <p class="address">666 Last Gate, Hell</p>
                <small class="comment">Shh.. Don't ring the door bell.</small>
              </div>
              <div class="location-item">
                <span class="badge badge-light rounded-circle">2</span>
                <span class="time">Due 02:30 PM</span>
                <p class="address">666 Last Gate, Hell</p>
                <small class="comment">Shh.. Don't ring the door bell.</small>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="col btn btn-secondary btn-lg" data-dismiss="modal">Snooze</button>
            <button type="button" class="col btn btn-primary btn-lg">Accept</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
