<div class="container-fluid p-0 list-page" id="list-page">
  <div>
    <button class="btn btn-dark mb-3" (click)="changeAppInfo()">Update</button>
  </div>
  <mat-tab-group>
    <mat-tab label="By Time">
      <mat-card class="example-card" *ngFor="let order of orders">
        <a [routerLink]="[ '/orders', order.order_id ]" class="w-100">
          <mat-card-header class="d-flex">
            <mat-card-subtitle>
              <span class="order-id">{{ '#'+order.order_id }}</span> {{ order.item_name }}</mat-card-subtitle>
            <mat-card-title>
              <mat-icon class="text-danger" *ngIf="order.status == 3">error_outline</mat-icon>{{ order.stops[0].address }}</mat-card-title>
            <div class="justify-content-end flex-grow-1" class="due_time">{{ order.due_time }}</div>
          </mat-card-header>
        </a>
      </mat-card>
    </mat-tab>
    <mat-tab label="By Priority">
    </mat-tab>
    <mat-tab label="By Distance">
    </mat-tab>
  </mat-tab-group>
</div>
<!-- <mat-tab-group>
  <mat-tab label="First">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image d-none"></div>
        <mat-card-subtitle>Nike  Flip flop</mat-card-subtitle>
        <mat-card-title>666 Last Gate, Hell</mat-card-title>
        <span class="justify-content-end">6:30PM</span>
        <div class="justify-content-end">
          <button class="mat-icon-button"
            mat-icon-button (click)="drawer.toggle()">
            <mat-icon>phone</mat-icon>
          </button>
        </div>
      </mat-card-header>
    </mat-card>
  </mat-tab>
  <mat-tab label="Second"> Content 2 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group> -->
