<mat-tab-group>
  <mat-tab label="By Time">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image d-none"></div>
        <mat-card-subtitle><span class="order-id">#31892</span> Nike  Flip flop</mat-card-subtitle>
        <mat-card-title>666 Last Gate, Hell</mat-card-title>
        <div class="justify-content-end">6:30PM</div>
      </mat-card-header>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image d-none"></div>
        <mat-card-subtitle><span class="order-id">#31892</span> Nike  Flip flop</mat-card-subtitle>
        <mat-card-title>666 Last Gate, Hell</mat-card-title>
        <div class="justify-content-end">6:30PM</div>
      </mat-card-header>
    </mat-card>
  </mat-tab>
  <mat-tab label="By Priority">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image d-none"></div>
        <mat-card-subtitle><span class="order-id">#31892</span> Nike  Flip flop</mat-card-subtitle>
        <mat-card-title>666 Last Gate, Hell</mat-card-title>
        <div class="justify-content-end">6:30PM</div>
      </mat-card-header>
    </mat-card>
  </mat-tab>
  <mat-tab label="By Distance">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image d-none"></div>
        <mat-card-subtitle><span class="order-id">#31892</span> Nike  Flip flop</mat-card-subtitle>
        <mat-card-title>666 Last Gate, Hell</mat-card-title>
        <div class="justify-content-end">6:30PM</div>
      </mat-card-header>
    </mat-card>
  </mat-tab>
</mat-tab-group>
<!-- <mat-tab-group>
  <mat-tab label="First">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image d-none"></div>
        <mat-card-subtitle>Nike  Flip flop</mat-card-subtitle>
        <mat-card-title>666 Last Gate, Hell</mat-card-title>
        <span class="justify-content-end">6:30PM</span>
        <div class="justify-content-end">
          <button class="mat-icon-button"
            mat-icon-button (click)="drawer.toggle()">
            <mat-icon>phone</mat-icon>
          </button>
        </div>
      </mat-card-header>
    </mat-card>
  </mat-tab>
  <mat-tab label="Second"> Content 2 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group> -->
