<div class="bg-white container-fluid p-0 d-flex flex-column">
  <div class="card mb-auto">
    <div class="d-flex border-bottom p-3">
      <div class="flex-grow-1">
        <p class="mb-0">Due at 6:30 PM</p>
        <h5>666 Last Gate, Hell</h5>
      </div>
      <div class="d-flex align-items-center">
        <a [routerLink]="['/map', order_id]" mat-icon-button><mat-icon>navigation</mat-icon></a>
      </div>
    </div>
    <div class="d-flex border-bottom p-3">
      <div class="flex-grow-1">
        <p class="mb-0">Contact</p>
        <h4 class="text-primary">John Doe</h4>
      </div>
      <div class="d-flex align-items-center">
        <a [routerLink]="['/map', order_id]" mat-icon-button class="d-inline"><mat-icon>sms</mat-icon></a>
        <a [routerLink]="['/map', order_id]" mat-icon-button class="d-inline"><mat-icon>phone</mat-icon></a>
      </div>
    </div>
    <div class="d-flex border-bottom p-3">
      <div class="">
        <p class="text-muted m-0">Added By John Doe @ 3:20 PM</p>
        <p class="">Wrap item in birthday package and attach flowers!</p>
      </div>
    </div>
  </div>
  <div class="d-flex p-1">
    <button mat-raised-button color="primary" class="col mr-1">Arrived</button>
    <button mat-raised-button color="primary" class="flex-shrink-1"><mat-icon>add</mat-icon></button>
  </div>
</div>
