<div class="container-fluid align-items-center h-100 pt-5" id="verification-page">
  <div>
    <img src="icons/icon_96.png" alt="Logo" class="mx-auto d-block img-thumbnail">
  </div>
  <div class="d-flex justify-content-center example-container" style="margin-top:30px">
    <mat-form-field>
      <input matInput placeholder="Enter Verification Code">
    </mat-form-field>
    <div class="">
      <button mat-raised-button color="primary">Done</button>
    </div>
  </div>
  <div class="change-login-method" style="padding-top: 30px;">
    <a href="#" class="d-block">Resend Verification</a>
    <a href="#" class="d-block">Change Phone Number</a>
  </div>
</div>