<div class="container-fluid align-items-center h-100 pt-5" id="signup-page">
  <div>
    <img src="icons/icon_96.png" alt="Logo" class="mx-auto d-block img-thumbnail">
  </div>
  <div class="example-container" style="margin-top:30px">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1" class="d-none">Email address</label>
        <input type="text" class="form-control form-control-lg" placeholder="Enter Phone Number">
      </div>
      <div class="form-group d-none">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
    </form>
  </div>
  <div class="change-login-method" style="padding-top: 30px;">
    <a href="#" class="d-block">Login with Email</a>
  </div>
</div>