<div class="container-fluid p-0" id="list-page">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image d-none"></div>
      <mat-card-subtitle>
        <span class="order-id">#31892</span> Nike Flip flop</mat-card-subtitle>
      <mat-card-title>666 Last Gate, Hell</mat-card-title>
      <div class="justify-content-end">6:30PM</div>
    </mat-card-header>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image d-none"></div>
      <mat-card-subtitle>
        <span class="order-id">#31892</span> Nike Flip flop</mat-card-subtitle>
      <mat-card-title>666 Last Gate, Hell</mat-card-title>
      <div class="justify-content-end">6:30PM</div>
    </mat-card-header>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image d-none"></div>
      <mat-card-subtitle>
        <span class="order-id">#31892</span> Nike Flip flop</mat-card-subtitle>
      <mat-card-title>666 Last Gate, Hell</mat-card-title>
      <div class="justify-content-end">6:30PM</div>
    </mat-card-header>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image d-none"></div>
      <mat-card-subtitle>
        <span class="order-id">#31892</span> Nike Flip flop</mat-card-subtitle>
      <mat-card-title>666 Last Gate, Hell</mat-card-title>
      <div class="justify-content-end">6:30PM</div>
    </mat-card-header>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image d-none"></div>
      <mat-card-subtitle>
        <span class="order-id">#31892</span> Nike Flip flop</mat-card-subtitle>
      <mat-card-title>666 Last Gate, Hell</mat-card-title>
      <div class="justify-content-end">6:30PM</div>
    </mat-card-header>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image d-none"></div>
      <mat-card-subtitle>
        <span class="order-id">#31892</span> Nike Flip flop</mat-card-subtitle>
      <mat-card-title>666 Last Gate, Hell</mat-card-title>
      <div class="justify-content-end">6:30PM</div>
    </mat-card-header>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image d-none"></div>
      <mat-card-subtitle>
        <span class="order-id">#31892</span> Nike Flip flop</mat-card-subtitle>
      <mat-card-title>666 Last Gate, Hell</mat-card-title>
      <div class="justify-content-end">6:30PM</div>
    </mat-card-header>
  </mat-card>
</div>