/* You can add global styles to this file, and also import other style files */
/* deeppurple-amber.css
indigo-pink.css
pink-bluegrey.css
purple-green.css */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body{
  height: 100%;
}

body{
  margin: 0;
}

.spacer {
  flex: 1 1 auto;
}

.sidenav-container{
  height: 100%;
}

.mat-sidenav-content{
  padding-top: 56px;
}

#topnav{
  position: fixed;
  z-index: 1000;
}

.mat-icon-button.cdk-program-focused  .mat-button-focus-overlay{
  opacity: 0 !important;
}