/* You can add global styles to this file, and also import other style files */
/* deeppurple-amber.css
indigo-pink.css
pink-bluegrey.css
purple-green.css */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body{
  /* min-height: 100%; */
  height: 100%;
}

body{
  margin: 0;
}

.spacer {
  flex: 1 1 auto;
}

.sidenav-container{
  height: 100%;
}

.mat-sidenav-content{
  padding-top: 56px;
  height: calc(100% - 56px);
}

#topnav{
  position: fixed;
  z-index: 1000;
}

.mat-icon-button.cdk-program-focused  .mat-button-focus-overlay{
  opacity: 0 !important;
}

.example-card {
  /* max-width: 400px; */
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

@media (min-width: 700px){
  .mat-sidenav-content{
    padding-top: 64px;
    height: calc(100% - 64px) !important;
  }
}